<div class="help">
<p>William 'copperstick6' Han, version 1.00-release.<br/>
Created by William Han</p>
<p></p>
<p>
These shell commands are defined internally. Type {{{command "help"}}} to see this list. Internal commands are highlighted and external <a href="http://www.ismyinternetworking.com" title="Is My Internet Working?" target="_blank">links</a> are underlined and can be clicked to run and be opened, respectively.</p>
<p>
{{{command "school"}}}: View all my school projects.<br/>
{{{command "projects"}}}: View all my side projects<br/>
{{{command "orgs"}}}: View all the student orgs I am involved in <br/>
</p>
<p>
{{{command "git"}}}: View the site's source code and other developer information.<br/>
{{{command "clear"}}}: Clear the contents of the terminal.<br/>
</p>
</div>
